.book-details{
    overflow-x: auto;
    margin-top: 70px;
    margin-left: 270px;
    width: -webkit-fill-available;
}

.book-details::-webkit-scrollbar {
    display: none;
  } 

  .table-container {
    height: 500px;
    overflow: auto;
  }

  .table-container::-webkit-scrollbar{
    display: none;
  }
@media (max-width: 768px) {
   
    .book-details{
       overflow-x: auto;
       display: flex !important;
       margin-left: 40px;
       flex-direction: column;
    }

    .book-details::-webkit-scrollbar {
        display: none;
      } 

}