
.card-body-trending {
 
  min-width: 130px;
  max-width: 160px;
  margin-right: 5px;
  background-color: rgb(212, 212, 212);
}

.card-trending{
  margin-left: 0px;
}

.card-trending::-webkit-scrollbar {
  display: none;
} 

img {
  height: 180px;
  object-fit: cover;
  max-width: 130px;
}

.home-content {
  display: flex;
  flex-direction: column;
  position: inherit;
  margin-left: 270px;
  padding-top: 60px;
}

.trending-novel-rented{
  font-size: 36px; 
  font-weight: bold;
  color: aliceblue;
  padding-bottom: 7px;
}

.trending-novel-favourited{
  font-size: 36px; 
  font-weight: bold;
  color: aliceblue;
  padding-bottom: 7px;
  padding-top: 35px;
}


@media (max-width: 768px) {

  .home-content {
    display: flex;
    flex-direction: column;
    position: inherit;
    margin-left: 0px;
    padding-top: 80px;
  }

.trending-novel{
  font-size: 36px; 
  font-weight: bold;
  color: aliceblue;
  margin-left: 57px;
}

  .card-trending{
    margin-left: 34px;
  }

  .trending-novel-rented{
    margin-left: 32px;
  }

  .trending-novel-favourited{
    margin-left: 32px;
  }
} 